
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<p>
    Jag har ett stort tekniskt intresse. Inom programmering har jag alltid haft lätt ta till mig nya språk ock koncept. Programmering ligger naturligt för mig.
    Jag gillar att ta fram tekniska lösningar på problem.
    Som person är jag självständig, men fungerar även bra i grupp, och har lätt att lära.
    I en grupp är jag gärna drivande och tar ansvar för projektets resultat.
    Jag ser fram emot att få nya utmaningar och att växa och utvecklas i min framtida yrkesroll.
</p>


