@model LangaugeViewModel

<h1>Languages</h1>

<a asp-action="Create">Add language</a>

<table class="table">
    <thead>
        <tr>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Languages)
            {
                <tr>
                    <td>@item.LanguageName</td>
                    <td>
                        <a asp-action="Remove" asp-route-languageId="@item.LanguageId">Remove language</a><br />
                        <a asp-action="EditLanguage" asp-route-LanguageId="@item.LanguageId">Edit langauge</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

<p></p>


